extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name. - Done
        h1 Alan Longcoy

        //- Feel free personalize the title below
        p.lead.text-light
          | iOS and Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Thank you for checking out my project portfolio! Since building my first program in high school, 
            | a basic calculator using Visual Basic, programming has been a passion of mine. That simple calculator
            | showed me the power of programming. It also showed me that with the right knowledge and skills, I could 
            | create anything imaginable. 
          p
            | Harnessing that newly found passion, I attended Tennessee Technological University where I obtained a B.S. 
            | in Computer Engineering. I gained experience in C, C++, Java, Assembly Language, and PLC. I found that with 
            | more knowledge and exposure to various languages, the more I could create programs to interface and interact 
            | with the world. This path led me to where I am now, working in an automated industrial environment. 
          p
            | While at my current job, I have come to realize that having well-developed applications could help improve 
            | job efficiency. It could also make tasks and accessing specific data easier. As a result, in my spare time 
            | I began to learn how to develop applications in iOS and web development. My main goal was to learn how to 
            | make critical and useful information easily accessible to anyone who needed it.
          p
            | After some time, I now have a strong foundation and understanding of both the iOS and Full Stack Javascript 
            | development. Between both programs, I have built 15 user-friendly apps. I am also close to reaching another 
            | goal of mine: building a backend server with a database and API to access data, web interface to access 
            | from anywhere, and a mobile app to even access when away from computers.
          p
            | At this point in time, I am ready to commit to programming full-time. What was once a hobby has now begun
            | a valuable asset and honed skill. As you take some time to navigate through the screenshots and demos, please
            | feel free to send any questions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Static Node.js
          li Express
          li API Integration
          li Forms
          li Jquery
          li Javascript
          li HTML and CSS 
          li Swift and Objective C
        h6 Contact Info

        //- Add your own contact info - Done
        ul
          li (865)-804-5793
          li ajlongcoy21@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts. - Done dont have a twitter
        a.button.expanded(href='https://www.linkedin.com/in/alan-longcoy-3a647283/'  target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/ajlongcoy21'  target="_blank") GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  